{% extends "layout.twig" %}
{% block content %}
    <h1>{{ title }}</h1>
    <div class="col-sm-3 left-navigation">
        <div class="list-group">
            <a href="#" class="list-group-item active">{{ title }}</a>
            <a href="/" class="list-group-item ">
                List of courses
            </a>
            <a href="/course/add" class="list-group-item">Add new</a>
        </div>
    </div>
    <div class="col-sm-6">
        {% if errors %}
            <div class="alert alert-danger" role="alert">
                <strong>Oh snap!</strong>  Change a few things up and try submitting again:
                {% include '_partials/errors.twig' %}
            </div>

        {% endif %}
        <div class="row">
            <form method="post">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="{{ course.name }}">
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea class="form-control" id="description" name="description" rows="3">{{ course.description }}</textarea>
                </div>
                <div class="form-group">
                    <select name="category" class="form-control">
                        {% for category in categories %}
                            {% if category.id == course.category %}
                                <option value="{{ category.id }}" selected>{{ category.name|e }}</option>
                            {% else %}
                                <option value="{{ category.id }}" >{{ category.name|e }}</option>
                            {%  endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group clearfix">
                    <div class="">
                        <a href="#" class="thumbnail update-thumbnail" data-course="{{ course.id }}">
                            <img src="{{ course.img }}">
                        </a>
                    </div>
                    <input type="file" id="course-cover" name="img" class="cover">
                    <p class="help-block">Pls click on the picture to change it.</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 1%">
                            <span class="sr-only">20% Complete</span>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-info">Update</button>

            </form>
        </div>
    </div>
{% endblock %}